body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #f2f2f2;
}

h1 {
  text-align: center;
}

#noticias {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.noticia {
  background: white;
  padding: 10px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.noticia img {
  width: 100%;
  height: auto;
}
